[production]
credentials.0.identity = "" // email
credentials.0.password = "" // hashed password

phpSettings.display_startup_errors = 0
phpSettings.display_errors = 0
includePaths.library = APPLICATION_PATH "/../library"
bootstrap.path = APPLICATION_PATH "/Bootstrap.php"
bootstrap.class = "Bootstrap"
appnamespace = "Application"
resources.frontController.controllerDirectory = APPLICATION_PATH "/controllers"
resources.frontController.params.displayExceptions = 0

resources.view.doctype = HTML5
resources.view.contentType = text/html; charset=UTF-8
resources.view.encoding = UTF-8
resources.view.assign.headTitle = "Zespół muzyczny Szaron Stoun"
resources.view.assign.headDescription = 
resources.view.assign.headKeywords = 
resources.view.BasePath = APPLICATION_PATH "/modules/default/views/scripts"
resources.view.ScriptPath.0 = APPLICATION_PATH "/modules/default/views/scripts"
resources.view.helperPath.Helper = APPLICATION_PATH "/modules/default/views/helpers"
resources.view.helperPath.Core_View_Helper = Core/View/Helper

resources.layout.layoutPath = APPLICATION_PATH "/layouts"
resources.layout.layout = default
resources.layout.mvcSuccesfulActionOnly = true

resources.db.active = true
resources.db.adapter = mysqli
resources.db.isDefaultTableAdapter = true
resources.db.params.dbname = ""
resources.db.params.username = ""
resources.db.params.password = ""
resources.db.params.host = localhost
resources.db.params.port = 3307
resources.db.params.charset = UTF8
resources.db.params.driver_options.1002 = SET NAMES UTF8;

resources.navigation.pages.start.label = "Start"
resources.navigation.pages.start.route = start
resources.navigation.pages.offer.label = "Oferta"
resources.navigation.pages.offer.route = offer
resources.navigation.pages.band.label = "Zespół"
resources.navigation.pages.band.route = band
resources.navigation.pages.program.label = "Repertuar"
resources.navigation.pages.program.route = program
resources.navigation.pages.audio.label = "Audio"
resources.navigation.pages.audio.route = audio
resources.navigation.pages.video.label = "Video"
resources.navigation.pages.video.route = video
resources.navigation.pages.video.visible = false
resources.navigation.pages.gallery.label = "Galeria"
resources.navigation.pages.gallery.route = gallery
resources.navigation.pages.hardware.label = "Sprzęt"
resources.navigation.pages.hardware.route = hardware
resources.navigation.pages.entertainment.label = "Zabawy i konkursy"
resources.navigation.pages.entertainment.route = entertainment
resources.navigation.pages.partners.label = "Polecani"
resources.navigation.pages.partners.route = partners
resources.navigation.pages.contact.label = "Kontakt"
resources.navigation.pages.contact.route = contact

resources.router.routes.start.type = Zend_Controller_Router_Route
resources.router.routes.start.route = start.html
resources.router.routes.start.defaults.module = default
resources.router.routes.start.defaults.controller = index
resources.router.routes.start.defaults.action = index
resources.router.routes.start.defaults.id = 1

resources.router.routes.offer.type = Zend_Controller_Router_Route
resources.router.routes.offer.route = oferta.html
resources.router.routes.offer.defaults.module = default
resources.router.routes.offer.defaults.controller = index
resources.router.routes.offer.defaults.action = index
resources.router.routes.offer.defaults.id = 2

resources.router.routes.band.type = Zend_Controller_Router_Route
resources.router.routes.band.route = zespol.html
resources.router.routes.band.defaults.module = default
resources.router.routes.band.defaults.controller = index
resources.router.routes.band.defaults.action = index
resources.router.routes.band.defaults.id = 3

resources.router.routes.program.type = Zend_Controller_Router_Route
resources.router.routes.program.route = repertuar.html
resources.router.routes.program.defaults.module = default
resources.router.routes.program.defaults.controller = index
resources.router.routes.program.defaults.action = index
resources.router.routes.program.defaults.id = 4

resources.router.routes.audio.type = Zend_Controller_Router_Route
resources.router.routes.audio.route = audio.html
resources.router.routes.audio.defaults.module = default
resources.router.routes.audio.defaults.controller = index
resources.router.routes.audio.defaults.action = audio

resources.router.routes.video.type = Zend_Controller_Router_Route
resources.router.routes.video.route = wideo.html
resources.router.routes.video.defaults.module = default
resources.router.routes.video.defaults.controller = index
resources.router.routes.video.defaults.action = video

resources.router.routes.gallery.type = Zend_Controller_Router_Route
resources.router.routes.gallery.route = galeria.html
resources.router.routes.gallery.defaults.module = default
resources.router.routes.gallery.defaults.controller = index
resources.router.routes.gallery.defaults.action = gallery

resources.router.routes.hardware.type = Zend_Controller_Router_Route
resources.router.routes.hardware.route = sprzet.html
resources.router.routes.hardware.defaults.module = default
resources.router.routes.hardware.defaults.controller = index
resources.router.routes.hardware.defaults.action = hardware

resources.router.routes.entertainment.type = Zend_Controller_Router_Route
resources.router.routes.entertainment.route = zabawy_i_konkursy.html
resources.router.routes.entertainment.defaults.module = default
resources.router.routes.entertainment.defaults.controller = index
resources.router.routes.entertainment.defaults.action = index
resources.router.routes.entertainment.defaults.id = 6

resources.router.routes.partners.type = Zend_Controller_Router_Route
resources.router.routes.partners.route = polecani.html
resources.router.routes.partners.defaults.module = default
resources.router.routes.partners.defaults.controller = index
resources.router.routes.partners.defaults.action = index
resources.router.routes.partners.defaults.id = 7

resources.router.routes.contact.type = Zend_Controller_Router_Route
resources.router.routes.contact.route = kontakt.html
resources.router.routes.contact.defaults.module = default
resources.router.routes.contact.defaults.controller = index
resources.router.routes.contact.defaults.action = index
resources.router.routes.contact.defaults.id = 8

resources.router.routes.admin.type = Zend_Controller_Router_Route
resources.router.routes.admin.route = admin
resources.router.routes.admin.defaults.module = default
resources.router.routes.admin.defaults.controller = admin
resources.router.routes.admin.defaults.action = index

resources.router.routes.login.type = Zend_Controller_Router_Route
resources.router.routes.login.route = login
resources.router.routes.login.defaults.module = default
resources.router.routes.login.defaults.controller = admin
resources.router.routes.login.defaults.action = login

resources.router.routes.logout.type = Zend_Controller_Router_Route
resources.router.routes.logout.route = logout
resources.router.routes.logout.defaults.module = default
resources.router.routes.logout.defaults.controller = admin
resources.router.routes.logout.defaults.action = logout

resources.cachemanager.Model_Article-getById.frontend.name = Core
resources.cachemanager.Model_Article-getById.frontend.customFrontendNaming = true
resources.cachemanager.Model_Article-getById.frontend.options.lifetime = 267840
resources.cachemanager.Model_Article-getById.frontend.options.automatic_serialization = true
resources.cachemanager.Model_Article-getById.backend.name = File
resources.cachemanager.Model_Article-getById.backend.customBackendNaming = false
resources.cachemanager.Model_Article-getById.backend.options.cache_dir = APPLICATION_PATH "/../data/cache/"
resources.cachemanager.Model_Article-getById.frontendBackendAutoload = false

[staging : production]

[testing : production]
phpSettings.display_startup_errors = 1
phpSettings.display_errors = 1

[development : production]
phpSettings.display_startup_errors = 1
phpSettings.display_errors = 1
resources.frontController.params.displayExceptions = 1

;resources.db.params.port = 3306
;resources.db.params.username = 
;resources.db.params.password = 
